@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #ededed;
  --primary: #22c55e;
  --border: #27272a;
  --card: #09090b;
  --card-foreground: #ededed;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
